<div data-role="view" data-title="Details" data-model="app.salesrepListView.salesrepListViewModel" data-bind="events: { show: detailsShow }" id="salesrepListViewModelDetailsView">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>
            <span data-bind="text: currentItem['RepName']"></span>
            <a data-role="button" data-align="right" data-bind="events: { click: editClick }">Edit</a>
        </div>
    </header>

    <div class="details-content">
        <div class="km-listview-wrapper">
            <ul class="km-listview km-list km-listinset details-fields">
                <li>
                    <h3 data-bind="text: currentItem.Email"></h3></li>
                <li>
                    <p data-bind="text: currentItem.Region"></p>
                </li>
                <li><img data-bind="attr: { src: currentItem.ImageUrl }" width="100%" height="auto"></li>
            </ul>
        </div>
    </div>
    <!-- START_CUSTOM_CODE_salesrepListViewModel -->
    <!-- END_CUSTOM_CODE_salesrepListViewModel -->
</div>